@font-face { font-family: 'Atomy-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Atomy-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMHANNAAir'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff'); font-weight: normal; font-style: normal; }


* {

font-family : 'BMHANNAAir';

}


:root{
	--j-color1: #c9d2ff;
	--j-color2: #bdbeff;
	--j-color3: #4c4c4c;
	--j-color4: #7a7979;



	--img-logo: url("https://kikinikki.github.io/tgd/toperi/tgd_logo.png");
	--img-totop: url("https://kikinikki.github.io/tgd/toperi/toperi_togo.png");
}

/* 배경*/

body {
	background: linear-gradient(to bottom, #150233, #361d5e);
    	height: auto !important;
}
/* 순위뱃지 */
.badge{
	background-color: var(--j-color1);
}

/* 접속인원 */


#board-info #viewers-area #viewers:before {

    content: "트수 ";
	cursor: text;

}
#board-info #viewers-area {

	color: var(--j-color3);
}
#board-info #viewers-area #viewers:after {

    content: "명이 접속중";
    cursor: text;


}





/* 추천수 */


#article-list>.article-list-row>.item>.list-header>span {

    background-color: var(--j-color1); /* 글 추천 수 배경 색 */

}

/* 사진,글,인기 뱃지 글자에 맞게 위치조정 */
span.a-badge{
	margin-top: 2px;
}

	
/* 인기글 버튼 */
#article-list #article-list-menu>.btn.best {

    border-radius: 5px;
	left: 1em;
}

/* 글 쓰기 버튼 */
#article-list #article-list-menu>.btn.write {

    border-radius: 5px;
	right: 1em;
}

/* 설정,삭제 버튼 */
#article-list #article-list-menu>.btn.cog, #article-list #article-list-menu>.btn.del{

    border-radius: 5px;

}

/* 글쓰기버튼 애니메이션 */
.btn-primary {

    color: #ffffff !important;

    background-color:#bfbaff !important;

    border-color: var(--j-color1) !important;

    border-radius: 5px;

    transition: .3s;

}

.btn-primary:hover,.btn-primary:focus{

    color: var(--j-color1) !important;

    background-color: #FFFFFF !important;

}

/* 인기글 버튼 애니메이션 */
.btn.best {
	transition: .3s;
}

.btn.best:hover,.btn.best:focus{
	color: #FFFFFF !important;
	background-color:#bfbaff !important;
	
}

/* 작성취소 버튼 애니메이션 */
.btn-default{
	
	color: #000000;
	background-color: #FFFFFF;

    transition: .3s;
}
.btn-default:hover,.btn-dafault:focus{
	color: #FFFFFF;
	background-color: #000000 !important;
}

/* 설문추가 버튼 애니메이션 */
.btn-info{
	
	color: #FFFFFF;
	background-color: #bfbaff;

    transition: .3s;
}
.btn-info:hover,.btn-info:focus{
	color: #bfbaff;
	background-color: #FFFFFF !important;
}

/* 버튼 둥글게*/

.btn {

    border-radius: 5px;

}

/* 메인로고 */
header .row>div:nth-child(1)>a {
  display: block;
  width: 180px;
  height: 50px;
  background: var(--img-logo) no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
	display: none;

}


header #header-bar>.row {
  border-top: 4px solid var(--j-color1);
  border-right: none;
  border-bottom: none;
  border-radius: 5px;
}

header #right-search-form>input[type='text'] {
  border: 3px solid var(--j-color1);
}

/* 좌 배너 헤더, 광고뱃지 색변경 */
#main .menu-wrapper>.header, header #header-bar #header-top-notice strong.notice-badge {
	background : var(--j-color1);
}


/* 검색버튼 */
header #right-search-form>#right-search-btn, #main .menu-wrapper>a>em, #main .menu-wrapper>a>i.fa.fa-square{
	color: var(--j-color1);
}

#board-info #board-info-bottom a{
	color: #000000;

}

/* 게시글부분 모서리 다듬기 */
header #main .menu-wrapper, #main #main-content>div.frame{
	border-radius: 5px;
	border-top: 5px solid var(--j-color1) !important;
}

/* 그림자효과 삭제 및 추가 */
header #main .menu-wrapper, #main #main-content>div.frame, #main .menu-wrapper {
	border-right: none;
	border-bottom: none;
}
#main .menu-wrapper .spacer{
	height: 0px;
}

#main .menu-wrapper, header #main .menu-wrapper, #main #main-content>div.frame, header #header-bar>.row{
	
box-shadow: 3px 3px 3px #00000050;
}
/*

#board-info #board-info-profile-img {
    width: 80px;
    border: 3px solid var(--j-color1);
    border-radius: 50%;
    float:left!important;
	margin-right:10px;
	margin-top:-10px;

}
*/
/* 프로필 */
#board-info #board-info-profile-img {

    width: 86px;
	border: 3px solid var(--j-color1);
    border-radius: 50%;

    position: absolute;
	z-index: 1;
    top: -15px; 
	left: 5px;
}

#board-info{
	margin-top: -2px;
	margin-bottom: 5px;
}

#board-info h1 {
	
    	margin-left: 70px; 
	border-bottom: 1px solid var(--j-color1);
}



#board-info h1>a{
	
	font-family: 'yg-jalnan';

}

#board-info #board-info-bottom {

    margin-left: 70px ; 

}

/* 게시판 좌우 여백,선 제거 */
#article-list{
	padding: 0 0em 2em;
}

#article-list>.article-list-row{
	border-right: none;
}

#article-list>.article-list-row>.item>.list-header{
	border-left: none;
}

/* 공지 배경색 */
#article-list>.article-list-row.notice {

    background-color: #ebebff;

}

/* 인기 배경색 */
#article-list>.article-list-row.hot {
	
	background-color: #fff0f0;
}


 /* 카테고리 윗 라인 */
#article-list #article-list-category {

    border-top: 2px solid var(--j-color1); 

    background: var(--j-color2);

}


 /* 카테고리 라인 */
#article-list #article-list-category {

    border-top: 2px solid var(--j-color1); 
    border-bottom: 2px solid var(--j-color1);  
    background: var(--j-color2);

}


 /* 카테고리 항목 투명 */
#article-list #article-list-category>a {

    background: Transparent;

}


/* 카테고리 글자, 위아래 간격 */
#article-list #article-list-category>a{
	padding: 9px 9px;
}

/* 페이지 */

div#article-list .pagination li a{
	
	color: var(--j-color1); 
	background: #FFFFFF;
	border-color: var(--j-color1);
	
}

div#article-list .pagination li a:focus,
.pagination li span:focus,
div#article-list .pagination li a:hover,
.pagination li span:hover,
div#article-list .pagination .active a{
	background: var(--j-color1);
	color: #FFFFFF;
} 

/* 작성자 색상변경 */
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {

    color: var(--j-color3);

}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {

    color: var(--j-color3);

}
#article-list>.article-list-row>.item>.list-title>small.comment-count, #article-list>.article-list-row>.item>.list-title>small.comment-count, #article-list>.article-list-row>.item>a.list-title>small.comment-count{
	color: var(--j-color4);
}


/* 댓글작성자 프로필라인 색변경 */
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
	background: var(--j-color2);
}
/* 댓글개수 색변경 */
#article-reply-area > .header h5{
	color: var(--j-color4);
}

/*좋아요, 대댓글 버튼색*/
a, span.time{
	color: var(--j-color4);
}

/*베댓배경*/
#article-reply-area #reply-best-area div.reply-content{
background: #ebebff;
}


/* 추천버튼 */

.btn-outline-success {

    color: #eb7ce7 !important;

    background-color: #FFFFFF !important;

    border-color: #bfbaff !important;

    border-radius: 5px;

    transition: .3s;

}

.btn-outline-success:hover,.btn-outline-success:focus{

    color: #FFFFFF !important;

    background-color: #bfbaff !important;

}

/*작성자, 하단 띠*/
#article-content-wrapper>.header{
	border-top: 3px solid var(--j-color1) !important;
	background: var(--j-color2);

}
#article-content-wrapper>.footer{
	border-bottom: 3px solid var(--j-color1) !important;
	background: var(--j-color2);
}

/* 글검색 제목버튼 */
.input-group-btn>.btn {
    background: var(--j-color1) !important;
    color: #fff !important;
    min-width: 0px !important;
}

/* 상단가기 버튼 */
#movetotop img{
	display:none
	
}

#movetotop{
	display: inline-block;
	opacity:1;
	background: var(--img-totop);
	width: 80px;
	height: 80px;
	background-size: contain;
}
